/* mobile responsive */
/*  am facut un fisier separat css doar pt mobile responsive 
si se pare ca merge , varianta responsive chiar si pt tableta se vede bine*/
@media (max-width: 500px){
   .all-container{
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas:
      "nav"
      "showcase"
      "about"
      "projects"
      "cv"
      "contact"
      "follow"
      "footer"
    
   }
}